{% extends "base.html.twig" %}

{% block title %}
    Gestion Administrative | Le Quai Antique
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
	<link rel="stylesheet" href="produit.css">
{% endblock %}

{% block body %}
    <div class="container-fluid mt-3 mb-5">
        <h1 class="main-title-admin-page">Gestion Administrative</h1>
        <h2 class="title-admin-page">Les Menus</h2>
		{{ form_start(formula_form, {"attr": {"novalidate": "novalidate"}}) }}
		{{ form_row(formula_form.menuTitle)}}
        {{ form_row(formula_form.formulaDayTitle)}}
		{{ form_row(formula_form.formulaDayDescription)}}
		{{ form_row(formula_form.formulaDayPrice)}}
        {{ form_row(formula_form.formulaNightTitle)}}
        {{ form_row(formula_form.formulaNightDescription)}}
        {{ form_row(formula_form.formulaNightPrice)}}
		<button type="submit" class="btn btn-primary mt-3">Créer</button>
		{{ form_end(formula_form)}}
        <p class="mt-3">Conseils : Préférez modifier que supprimer les menus déjà existants.</p>
		<p>Soit vous supprimez la totalité des menus pour recommencer à zéro. Soit vous modifiez.</p>
		<p>Nous vous déconseillons fortement de supprimer les menus au compte goutte. Vous risquez de vous y perdre.</p>
        <p>Vous pouvez directement modifier sur la page de la carte.</p>
	</div>
{% endblock %}