{% extends "base.html.twig" %}

{% block title %}
	Gestion Administrative | Le Quai Antique
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="produit.css">
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<h1 class="main-title-admin-page">Gestion Administrative</h1>
		<h2>Les Réservations</h2>
		<div>

			<div>
				{{ form_start(bookManagement_form, {"attr": {"novalidate": "novalidate"}}) }}
				{{ form_row(bookManagement_form.date)}}
				{{ form_row(bookManagement_form.hourStart)}}
				{{ form_row(bookManagement_form.hourEnd)}}
				<button type="submit" class="btn btn-success">Créer</button>
				{{ form_end(bookManagement_form)}}
			</div>
			<p class="mt-5">Réservation du MIDI</p>
			{% for book in books %}
				<p>{{ book.user }}</p>
				<p>{{ book.preferedGroupNumber}}</p>
				{# <p>{{ book.date | date("d/m/Y") }}</p> #}
				<p>{{ book.allergies }}</p>
				<a href="{{ path('delete-booking', {'id': book.id}) }}" class="btn btn-danger">Supprimer</a>
			{% endfor %}

			<p>Réservation du SOIR</p>
			{% for book in books %}
				<p>{{ book.user }}</p>
				<p>{{ book.preferedGroupNumber}}</p>
				{# <p>{{ book.date | date("d/m/Y") }}</p> #}
				<p>{{ book.allergies }}</p>
				<a href="{{ path('delete-booking', {'id': book.id}) }}" class="btn btn-danger">Supprimer</a>
			{% endfor %}
		</div>
	</div>
{% endblock %}
