{% extends "base.html.twig" %}

{% block title %}
	Gestion Administrative | Le Quai Antique
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="produit.css">
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<h1 class="main-title-admin-page">Gestion Administrative</h1>
		<h2>Les Réservations</h2>
		<div>
			<p>Réservation du MIDI</p>
			{% for book in books %}
				{% if book.preferedHour < 1400 %}
					{% set formulaDay = true %}
                    {% set formulaNight = false %}
				{% elseif book.preferedHour > 1400 %}
					{% set formulaNight = true %}
                    {% set formulaDay = false %}
				{% endif %}
				{% if formulaDay == true %}
					<p>{{ book.user }}</p>
					<p>{{ book.preferedGroupNumber}}</p>
					<p>{{ book.date | date("d/m/Y") }}</p>
					<p>{{ book.preferedHour }}</p>
					<p>{{ book.allergies }}</p>
                    <a href="{{ path('delete-booking', {'id': book.id}) }}" class="btn btn-danger">Supprimer</a>
				{% endif %}
			{% endfor %}

			<p>Réservation du SOIR</p>
			{% for book in books %}
                {% if book.preferedHour < 1400 %}
					{% set formulaDay = true %}
                    {% set formulaNight = false %}
				{% elseif book.preferedHour > 1400 %}
					{% set formulaNight = true %}
                    {% set formulaDay = false %}
				{% endif %}
				{% if formulaNight == true %}
					<p>{{ book.user }}</p>
					<p>{{ book.preferedGroupNumber}}</p>
					<p>{{ book.date | date("d/m/Y") }}</p>
					<p>{{ book.preferedHour }}</p>
					<p>{{ book.allergies }}</p>
                    <a href="{{ path('delete-booking', {'id': book.id}) }}" class="btn btn-danger">Supprimer</a>
				{% endif %}
			{% endfor %}
		</div>
	</div>
{% endblock %}
