{% extends "base.html.twig" %}

{% block title %}
	Gestion Administrative | Le Quai Antique
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="produit.css">
{% endblock %}

{% block body %}
	<div class="container-fluid mt-3 mb-5">
		<h1 class="main-title-admin-page">Gestion Administrative</h1>
		<h2 class="title-admin-page mt-5">Ajouter une nouvelle règle au Restaurant</h2>
		<div class="mt-5">
			{{ form_start(restaurantRule_form, {"attr": {"novalidate": "novalidate"}}) }}
			{{ form_row(restaurantRule_form.closureDay) }}
			{{ form_row(restaurantRule_form.runMidi) }}
			{{ form_row(restaurantRule_form.runSoir) }}
			{{ form_row(restaurantRule_form.bookingLimit) }}
			<button type="submit" class="btn btn-primary">Confirmer ?</button>
			<p class="mt-5">Attention ! Il ne peut y avoir plus d'une règle dans le restaurant. Si vous voulez en ajouter une, n'oubliez pas de supprimer l'ancienne règle ! Vous pouvez aussi modifier la règle actuelle.</p>
			<p>C'est à travers la règle de limite de réservations, que vous donnerez le nombre de places maximum du restaurant à votre application.</p>
			<p>N'oublier d'accorder la date de fermeture avec celle annoncée dans votre Calendrier !</p>
			{{ form_end(restaurantRule_form)}}
		</div>
		<h2 class="title-admin-page mt-5">Règle du Restaurant</h2>
		<div class="mt-5">
			{% for rule in rules %}
				<p>Le Restaurant fermera tous les
					{{ rule.closureDay }}s de chaque semaine.</p>
				<p>Le run de mi-journée commencera à :
					{{ rule.runMidi }}</p>
				<p>Le run du soir commencera à :
					{{ rule.runSoir }}</p>
				<p>Nous n'accueillerons pas plus de
					{{ rule.bookingLimit }}
					réservations par jour.</p>
				<p>Sachant ceci, les runs du midi ou du soir selon la logique métier, ne peuvent accueillir plus de {{ rule.bookingLimit /2 }} réservations par jour </p>
				<a href="{{ path('edit-rule', {'id': rule.id}) }}" class="btn btn-warning">Modifier</a>
				<a href="{{ path('delete-rule', {'id': rule.id}) }}" class="btn btn-danger">Supprimer</a>
			{% endfor %}
		</div>
		<h2 class="title-admin-page mt-5">Les Réservations</h2>
		<p class="mt-3">Conseil : Supprimer les réservations obsolètes pour éviter une surcharge d'informations inutiles.</p>
		<div class="row text-center">
			<div class="col-sm-6 ">
				<p class="subtitle-admin-page mt-5">Réservation du MIDI</p>
				{% for book in books %}
					{% if book.hourSelectedDay and book.hourSelectedNight == "Non" %}
						<p>Réservation de : {{ book.alias }}</p>
						<p>Numéro : {{ book.phoneNumber }}</p>
						<p>Nombre de couverts : {{ book.preferedGroupNumber}}</p>
						<p>Date : {{ book.date | date("d/m/Y") }}</p>
						<p>Réservation pour : {{ book.hourSelectedDay }}</p>
						<p>Allergies : {{ book.allergies }}</p>
						<a href="{{ path('delete-booking', {'id': book.id}) }}" class="btn btn-danger mb-5">Supprimer</a>
					{% endif %}
				{% endfor %}
			</div>
			<div class="col-sm-6 ">
				<p class="subtitle-admin-page mt-5">Réservation du SOIR</p>
				{% for book in books %}
					{% if book.hourSelectedNight and book.hourSelectedDay == "Non" %}
						<p>Réservation de : {{ book.alias }}</p>
						<p>Numéro : {{ book.phoneNumber }}</p>
						<p>Nombre de couverts : {{ book.preferedGroupNumber}}</p>
						<p>Date : {{ book.date | date("d/m/Y") }}</p>
						<p>Réservation pour : {{ book.hourSelectedNight }}</p>
						<p>Allergies : {{ book.allergies }}</p>
						<a href="{{ path('delete-booking', {'id': book.id}) }}" class="btn btn-danger mb-5">Supprimer</a>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
