{% extends 'base.html.twig' %}

{% block title %}Contact | Le Quai Antique
{% endblock %}

{% block body %}
	<main class="container-fluid">
		<div class="row">

			<div class="col-sm-12 mx-auto text-center">

				<h1 class="contact-page-title mt-5">Une privatisation du Restaurant ?</h1>
				<h1 class="contact-page-title">Une réservation spéciale pour : un Anniversaire, un Mariage ?</h1>
				<p class="text-page-title mt-3">Conseils, préparations, nous nous adaptons à vos besoins.</p>

			</div>

			<div class="col-sm-12 mx-auto mb-5 text-center">
				<h3 class="contact-title mt-5">Le Quai Antique</h3>
				<p class="contact-subtitle contact-link mt-5" style="color: rgb(118, 114, 114);">Adresse Mail</p>
				<a class="contact-link2" href="#">c.maxime@mpcagency06.com</a>
				<p class="contact-subtitle contact-link mt-5" style="color: rgb(118, 114, 114);">Réservation Restaurant</p>
				<a class="contact-link" href="#">07.**.**.**.**</a>
				<p class="contact-subtitle contact-link mt-3" style="color: rgb(118, 114, 114);">Réservation Spéciale</p>
				<a class="contact-link" href="#">06.**.**.**.**</a>
			</div>

		</div>

		<div class="container-fluid">
			<div class="row text-center">
				<button id="myBtn" title="Retour Haut-de-Page" class="btn btn-primary">Haut-de-Page</button>
			</div>
		</div>

	</main>

	<!--Footer Section-->

	<footer class="container-fluid footer mt-5" {% if is_granted('ROLE_ADMIN') %} style="height: auto;" {% endif %}>
		<div class="row">
			<div class="col-sm-3 mx-auto text-center footer-main-article">
				<h2 class="footer-main-title">Chef Arnaud Michant</h2>
			</div>
			<div class="col-sm-3 mx-auto text-center footer-main-article">
				<h2 class="footer-main-title">Le Quai Antique</h2>
			</div>
			<div class="col-sm-3 mx-auto text-center footer-hours">
				<h2 class="footer-title-hours mb-3">Nos Horaires d'ouverture</h2>
				<div class="row">
					{% for schedule in schedules %}
						<div class="col-6">
							<p>{{ schedule.date }}</p>
						</div>
						<div class="col-6">
							{% if schedule.openingHoursDay %}
								<p>{{ schedule.openingHoursDay }}</p>
							{% endif %}
							{% if schedule.openingHoursNight %}
								<p class="mt-0">{{ schedule.openingHoursNight }}</p>
							{% endif %}
							{% if is_granted('ROLE_ADMIN') %}
								<a href="{{ path('delete-schedule', {'id': schedule.id}) }}" class="btn btn-danger">Supprimer</a>
								<a href="{{ path('edit-schedule', {'id': schedule.id}) }}" class="btn btn-warning">Modifier</a>
							{% endif %}
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="col-sm-3 mx-auto text-center footer-article">
				<h2 class="footer-title">208, boulevard de la Savoie, 73000 Chambéry</h2>
			</div>
		</div>
	</footer>
{% endblock %}
