<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Accueil | Le Quai Antique
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{# Voir live 3 pour les styles parents et specifique à la page (-20:00) #}
			{{ encore_entry_link_tags('app') }}
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
			<link rel="stylesheet" href="https://use.typekit.net/eru0dyv.css">
			<link rel="stylesheet" href="/css/style.css"/>
		{% endblock %}

	</head>
	<body>
		{% block header %}
			<nav class="navbar navbar-expand-lg" style="background-color: #927F42;">
				<div class="container-fluid">
					<a class="navbar-brand" href="/" style="color: white;">Le Quai Antique</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a class="nav-link" aria-current="page" href="/">Accueil</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/carte">Carte</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/contact" {% if is_granted('ROLE_ADMIN') %} style="text-align: center;" {% endif %}>Contact</a>
							</li>
							{% if is_granted('ROLE_ADMIN') %}
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
										Gestion Administrative
									</a>
									<ul class="dropdown-menu">
										<li>
											<a class="dropdown-item" href="/post/new">Gestion Plats Page d'Accueil</a>
										</li>
										<li>
											<a class="dropdown-item" href="/menu/new">Gestion des Menus</a>
										</li>
										<li>
											<a class="dropdown-item" href="/carte/new">Gestion de la Carte</a>
										</li>
										<li>
											<a class="dropdown-item" href="/schedules/new">Gestion des Horaires</a>
										</li>
										<li>
											<a class="dropdown-item" href="/booking">Gestion des Réservations</a>
										</li>
									</ul>
								</li>
							{% endif %}
						</ul>
						{% if app.user %}
							<a href="/logout">
								<button class="btn btn-Disconnect" type="submit">Se Déconnecter</button>
							</a>
						{% else %}
							<a href="/login">
								<button class="btn btn-Connect" type="submit">Se Connecter</button>
							</a>
						{% endif %}
					</div>
				</div>
			</nav>

			<div class="container-fluid">
				<div class="row text-center">
					<button id="myBtn" title="Retour Haut-de-Page" class="btn">Haut-de-Page</button>
				</div>
			</div>
		{% endblock %}

		{% block body %}
			<div class="d-flex justify-content-center flex-wrap title-main-page mt-3">
				<h1>Un Voyage de Saveur Savoyarde</h1>
			</div>
			<div class="d-flex justify-content-around flex-wrap">
				{% for post in posts %}
					<div class="card mt-3" style="width: 18rem;">
						{% if post.title %}
							{# Mettre le titre en apparence avec passage de la souris sur une photo #}
							<h2 class="card-title">{{ post.title }}</h2>
						{% endif %}
						{% if post.image %}
							<img src={{ asset("uploads/#{post.image}") }} class="card-img-top" alt={{ post.title }}>
						{% endif %}
						<div class="card-body">
							<p class="card-text">{{ post.content }}</p>
							{% if is_granted('ROLE_ADMIN') %}
								<a href="{{ path('delete-post', {'id': post.id}) }}" class="btn btn-danger">Supprimer</a>
								<a href="{{ path('edit-post', {'id': post.id}) }}" class="btn btn-warning">Modifier</a>
								<a href="{{ path('copy-post', {'id': post.id}) }}" class="btn btn-info">Copier</a>
							{% endif %}
						</div>
					</div>
				{% endfor %}
			</div>

			<!--Button Booking Section-->
			<div class="d-flex justify-content-center flex-wrap mt-5">
				<button id="bookingBtn" class="btn">Réservation</button>
			</div>

			<!--Modal Section-->

			<div id="myModal" class="modal">
				<div class="modal-content">
					<span class="close">&times;</span>
					{{ form_start(book_form, {"attr": {"novalidate": "novalidate"}}) }}
					<div class="container-fluid">
						<div class="row">
							{{ form_row(book_form.date) }}
							<div class="col-sm-6 mt-3">
								{{ form_row(book_form.hourSelectedDay) }}
							</div>
							<div class="col-sm-6 mt-3">
								{{ form_row(book_form.hourSelectedNight) }}
							</div>
						</div>
					</div>
					<div class="mt-3">
						{{ form_row(book_form.preferedGroupNumber)}}
					</div>
					{{ form_row(book_form.alias)}}
					{{ form_row(book_form.phoneNumber)}}
					{{ form_row(book_form.allergies)}}
					<button type="submit" class="btn btn-success btn-customer-book mt-3">Confirmer la réservation</button>
					{{ form_end(book_form)}}
				</div>
			</div>

			{# <option {% if choice is selectedchoice(value) %}selected="selected"{% endif %}> Pour limiter plus tard#}

			<!--Restaurant Presentation Section-->

			<div class="container-fluid mt-5">
				<div class="row">
					<div class="col-sm-12 text-center mb-5">
						<h1 class="title-main-page">Côté Cuisine...</h1>
					</div>
					<div class="col-sm-5">
						<img src={{ asset("uploads/pexels-вадим-маркин-2102934.jpg") }} alt="Le Chef Michant (image libre de droit)" class="img-chief">
					</div>
					<div class="col-sm-7">
						<h2 class="title-main-page-text text-center">Présentation de notre Chef adoré !</h2>
						<div class="text-main-page">
							<p>Arnaud Michant n'est pas simplement, un Chef étoilé de plus en France.</p>
							<p>C'est aussi un passionné de la Savoie !</p>
							<p>Notre restaurant "Le Quai Antique" s'est installé à Chambéry, pour répondre aux passions de notre Chef.</p>
							<p>La volonté du Chef Michand de faire vivre les producteurs Savoyards, en se procurant leurs produits,</p>
							<p>raffinés d'un savoir-faire unique depuis des générations, est enfin accomplie.</p>
							<p>Déjà propriétaire de deux autres restaurants, le Chef Michant voit "Le Quai Antique" comme la nouvelle promesse d'un voyage dans son univers culinaire.</p>
							<p>Un univers qu'il chérit est maitrise avec amour depuis maintenant 20 ans.</p>
							<p>Venez découvrir ce que le Chef a préparé pour vous !</p>
							<p>Attention, nous déclinons toutes responsabilités sur les kilos que vous allez prendre !</p>
						</div>
					</div>
				</div>
			</div>

			<div class="d-flex justify-content-center flex-wrap mt-5 img-restaurant" style="background:linear-gradient(100deg, rgba(0,0,0,0.6) 0%, 
    rgba(0,0,0,0.6) 35%, rgba(0,0,0,0.1) 100%),url({{ asset("uploads/pexels-pierre-blaché-2901212.jpg") }}) no-repeat center;">
				<a href="/customer/new">
					<button class="btn btn-create-account" type="submit">Créer un Compte</button>
				</a>
			</div>

			<!--Footer Section-->

			<footer class="container-fluid footer" {% if is_granted('ROLE_ADMIN') %} style="height: auto;" {% endif %}>
				<div class="row">
					<div class="col-sm-3 mx-auto text-center footer-main-article">
						<h2 class="footer-main-title">Chef Arnaud Michant</h2>
					</div>
					<div class="col-sm-3 mx-auto text-center footer-main-article">
						<h2 class="footer-main-title">Le Quai Antique</h2>
					</div>
					<div class="col-sm-3 mx-auto text-center footer-hours">
						<h2 class="footer-title-hours mb-3">Nos Horaires d'ouverture</h2>
						<div class="row">
							{% for schedule in schedules %}
								<div class="col-6">
									<p>{{ schedule.date }}</p>
								</div>
								<div class="col-6">
									{% if schedule.openingHoursDay %}
										<p>{{ schedule.openingHoursDay }}</p>
									{% endif %}
									{% if schedule.openingHoursNight %}
										<p class="mt-0">{{ schedule.openingHoursNight }}</p>
									{% endif %}
									{% if is_granted('ROLE_ADMIN') %}
										<a href="{{ path('delete-schedule', {'id': schedule.id}) }}" class="btn btn-danger">Supprimer</a>
										<a href="{{ path('edit-schedule', {'id': schedule.id}) }}" class="btn btn-warning">Modifier</a>
									{% endif %}
								</div>
							{% endfor %}
						</div>
					</div>
					<div class="col-sm-3 mx-auto text-center footer-article">
						<h2 class="footer-title">208, boulevard de la Savoie, 73000 Chambéry</h2>
					</div>
				</div>
			</footer>
		{% endblock %}
	</body>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
	<script src='js/app.js'></script>
	{% block javascripts %}{% endblock %}


</html>
