<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{# Voir live 3 pour les styles parents et specifique à la page (-20:00) #}
			{{ encore_entry_link_tags('app') }}
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
			<link rel="stylesheet" href="/css/style.css"/>
		{% endblock %}

	</head>
	<body>
		{% block header %}
			<nav class="navbar navbar-expand-lg" style="background-color: #927F42;">
				<div class="container-fluid">
					<a class="navbar-brand" href="/" style="color: white;">Le Quai Antique</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a class="nav-link" aria-current="page" href="/">Accueil</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/carte">Carte</a>
							</li>
							<li class="nav-item">
								<a class="nav-link">Livre d'or</a>
							</li>
							<li class="nav-item">
								<a class="nav-link">Contact</a>
							</li>
							{% if is_granted('ROLE_ADMIN') %}
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
										Gestion Administrative
									</a>
									<ul class="dropdown-menu">
										<li>
											<a class="dropdown-item" href="/post/new">Gestion Plats Page d'Accueil</a>
										</li>
										<li>
											<a class="dropdown-item" href="/menu/new">Gestion des Menus</a>
										</li>
										<li>
											<a class="dropdown-item" href="/carte/new">Gestion de la Carte</a>
										</li>
										<li>
											<a class="dropdown-item" href="/schedules/new">Gestion des Horaires</a>
										</li>
										<li>
											<a class="dropdown-item" href="/booking">Gestion des Réservations</a>
										</li>
									</ul>
								</li>
							{% elseif is_granted('ROLE_USER') %}
								<li class="nav-item">
									<a class="nav-link" href="#">Gestion de compte</a>
								</li>
							{% endif %}
						</ul>
						{% if app.user %}
							<a href="/logout">
								<button class="btn btn-outline-success" type="submit" style="background-color: red; color: white;">Se déconnecter</button>
							</a>
						{% else %}
							<a href="/login">
								<button class="btn btn-outline-success" type="submit" style="background-color: red; color: white;">Se connecter</button>
							</a>
						{% endif %}
					</div>
				</div>
			</nav>

			<div class="container-fluid">
				<div class="row text-center">
					<button id="myBtn" title="Retour Haut-de-Page" class="btn btn-danger">Haut-de-Page</button>
				</div>
			</div>
		{% endblock %}

		{% block body %}
			<div class="d-flex justify-content-around flex-wrap">
				{% for post in posts %}
					<div class="card mt-5" style="width: 18rem;">
						{% if post.title %}
							{# Mettre le titre en apparence avec passage de la souris sur une photo #}
							<h5 class="card-title">{{ post.title }}</h5>
						{% endif %}
						{% if post.image %}
							<img src={{ post.image }} class="card-img-top" alt={{ post.title }}>
						{% endif %}
						<div class="card-body">
							<p class="card-text">{{ post.content }}</p>
							{% if is_granted('ROLE_ADMIN') %}
								<a href="{{ path('delete-post', {'id': post.id}) }}" class="btn btn-danger">Supprimer</a>
								<a href="{{ path('edit-post', {'id': post.id}) }}" class="btn btn-warning">Modifier</a>
								<a href="{{ path('copy-post', {'id': post.id}) }}" class="btn btn-info">Copier</a>
							{% endif %}
						</div>
					</div>
				{% endfor %}
			</div>

			<!--Button Booking Section-->
			<div class="d-flex justify-content-center flex-wrap mt-5">
				<button id="bookingBtn" class="btn btn-danger">Réserver</button>
			</div>

			<div style="height: 800px;"></div>

			<!--Modal Section-->

			<div id="myModal" class="modal">
				<div class="modal-content">
					<span class="close">&times;</span>
					{{ form_start(book_form, {"attr": {"novalidate": "novalidate"}}) }}
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-12">
								<label for="date">Choisissez une date disponible :</label>
								<input type="date" id="date" name="trip-start" value="Date.now()" min="Date.now()" max="2023-12-31" required>
							</div>
							<div class="col-sm-12 mt-3">
								<label for="hourSelectedDay">Vous réservez pour ce midi ?</label>
								<p id="hourSelectedDay" class="mt-3">
									<label><input type="radio" name="hour_booked" value="12:00"><span>12:00</span></label>
									<label><input type="radio" name="hour_booked" value="12:15"><span>12:15</span></label>
									<label><input type="radio" name="hour_booked" value="12:30"><span>12:30</span></label>
									<label><input type="radio" name="hour_booked" value="12:45"><span>12:45</span></label>
									<label><input type="radio" name="hour_booked" value="13:00"><span>13:00</span></label>
									<label><input type="radio" name="hour_booked" value="13:15"><span>13:15</span></label>
									<label><input type="radio" name="hour_booked" value="13:30"><span>13:30</span></label>
								</p>
								<label for="hourSelectedNight">Vous réservez pour ce soir ?</label>
								<p id="hourSelectedNight" class="mt-3">
									<label><input type="radio" name="hour_booked" value="19:00"><span>19:00</span></label>
									<label><input type="radio" name="hour_booked" value="19:15"><span>19:15</span></label>
									<label><input type="radio" name="hour_booked" value="19:30"><span>19:30</span></label>
									<label><input type="radio" name="hour_booked" value="19:45"><span>19:45</span></label>
									<label><input type="radio" name="hour_booked" value="20:00"><span>20:00</span></label>
									<label><input type="radio" name="hour_booked" value="20:15"><span>20:15</span></label>
									<label><input type="radio" name="hour_booked" value="20:30"><span>20:30</span></label>
								</p>
							</div>
						</div>
					</div>
					<div class="mt-3">
						{{ form_row(book_form.preferedGroupNumber)}}
					</div>
					{{ form_row(book_form.allergies)}}
					<button type="submit" class="btn btn-success">Confirmer la réservation</button>
					{{ form_end(book_form)}}
				</div>
			</body>
		</body>
	</html>
</div>

<!--Footer Section-->

<footer class="container-fluid footer mt-5" {% if is_granted('ROLE_ADMIN') %} style="height: 72rem;" {% endif %}>
	<div class="row">
		<div class="col-sm-3 mx-auto text-center footer-main-article">
			<h5 class="footer-main-title">Chef Arnaud Michant</h5>
		</div>
		<div class="col-sm-3 mx-auto text-center footer-main-article">
			<h5 class="footer-main-title">Le Quai Antique</h5>
		</div>
		<div class="col-sm-3 mx-auto text-center footer-hours">
			<h5 class="footer-title-hours">Nos Horaires d'ouverture</h5>
			<div class="row">
				{% for schedule in schedules %}
					<div class="col-6">
						<p>{{ schedule.date }}</p>
					</div>
					<div class="col-6">
						{% if schedule.openingHoursDay %}
							<p>{{ schedule.openingHoursDay }}</p><br>
						{% endif %}
						{% if schedule.openingHoursNight %}
							<p class="mt-0">{{ schedule.openingHoursNight }}</p>
						{% endif %}
						{% if is_granted('ROLE_ADMIN') %}
							<a href="{{ path('delete-schedule', {'id': schedule.id}) }}" class="btn btn-danger">Supprimer</a>
							<a href="{{ path('edit-schedule', {'id': schedule.id}) }}" class="btn btn-warning">Modifier</a>
						{% endif %}
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="col-sm-3 mx-auto text-center footer-article">
			<h5 class="footer-title">208, boulevard de la Savoie, 73000 Chambéry</h5>
		</div>
	</div>
</footer>{% endblock %}<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>{% block javascripts %}{% endblock %}<script src='js/app.js'></script></body></html></body></html>
