{% extends "base.html.twig" %}

{% block title %}
    Gestion Administrative | Le Quai Antique
{% endblock %}

{% block body %}
	<div class="container-fluid mt-3">
        <h1 class="main-title-admin-page">Gestion Administrative</h1>
		<h2 class="title-admin-page">Plats présentés en page de garde</h2>
		{{ form_start(post_form, {"attr": {"novalidate": "novalidate"}}) }}
		{{ form_row(post_form.title) }}
		{{ form_row(post_form.content) }}
		{{ form_row(post_form.image) }}
		<button type="submit" class="btn btn-primary mt-3">Créer</button>
		{{ form_end(post_form)}}
		<p class="mt-3">Conseils : Préférez modifier que supprimer les plats déjà existants.</p>
		<p>Soit vous supprimez la totalité des plats pour recommencer à zéro. Soit vous modifiez.</p>
		<p>Nous vous déconseillons fortement de supprimer les plats au compte goutte. Vous risquez de vous y perdre.</p>
		<p>Vous pouvez directement modifier sur la page d'accueil.</p>
	</div>
{% endblock %}
