{% extends 'base.html.twig' %}

{% block title %}Accueil | Le Quai Antique{% endblock %}

{# Définit un espace surchargeable avec "block" #}
{% block body %}
    <h1>Yo, tu as {{age}} ans !</h1>

    {# Boucle "if" #}
    {% if age > 21 %}
        <p>Vous etes majeur !</p>
    {% else %}
        <p>Vous etes mineur !</p>
    {% endif %}

    {# Déclaration d'une ou plusieurs variables avec "set" #}
    {% set fruits = ["banana", "apple", "cherry"] %}

    {# Boucle "for" #}
    <ul>
        {% for fruit in fruits %}
            <li>{{ fruit }}</li>
        {% endfor %}
    </ul>

    {# affiche les variables en détails #}
    {{ dump(fruits)}}

    {# fonctions max et min #}
    {% set numbers = [1, 42, 56] %}<br>
    <i>{{ max(numbers) }}</i><br>

    {# fonction now avec filtre date #}
    {{ "now"|date("d/m/Y") }}<br>

    {# filtres "last", "first" et "length" disponibles #}
    <u>{{ numbers|length }}</u>
{% endblock %}
