{% extends "base.html.twig" %}

{% block title %}
    Gestion Administrative | Le Quai Antique
{% endblock %}

{% block body %}
	<div class="container-fluid">
        <h1 class="main-title-admin-page">Gestion Administrative</h1>
        <h2>La Carte</h2>
		{{ form_start(menu_form, {"attr": {"novalidate": "novalidate"}}) }}
		{{ form_row(menu_form.dishTitle)}}
        {{ form_row(menu_form.dishCategory)}}
        <p>Vous avez la possibilités de choisir entre ces 4 categories : <p style="font-weight: 600;">"entrée", "plat", "menu enfant" et "dessert"</p></p>
        <p>Si vous inscrivez une catégorie différente de celles annoncées ci-dessus, vos plats seront enregistrés mais ils ne seront pas affichés dans la carte du Quai Antique !</p>
        <p>L'inscription de la categorie est rigoureuse et se fait à l'accent prêt, veuillez verifier que la catégorie inscrite est identique à l'un des choix proposés ci-dessus !</p>
		{{ form_row(menu_form.dishDescription)}}
		{{ form_row(menu_form.dishPrice)}}
		<button type="submit">Créer</button>
		{{ form_end(menu_form)}}
	</div>
{% endblock %}
