{% extends "base.html.twig" %}

{% block title %}
    Gestion Administrative | Le Quai Antique
{% endblock %}

{% block body %}
	<div class="container-fluid">
        <h1 class="main-title-admin-page">Gestion Administrative</h1>
        <h2>La Carte</h2>
		{{ form_start(menu_form, {"attr": {"novalidate": "novalidate"}}) }}
		{{ form_row(menu_form.dishTitle)}}
        {{ form_row(menu_form.dishCategory)}}
		{{ form_row(menu_form.dishDescription)}}
		{{ form_row(menu_form.dishPrice)}}
		<button type="submit">Créer</button>
		{{ form_end(menu_form)}}
	</div>
{% endblock %}
