{% extends 'base.html.twig' %}

{% block title %}Carte | Le Quai Antique
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset("public/css/style.css")}}"/>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div>
		<h1></h1>
	</div>

	<div>
		{% for formula in formulas %}
			<div>
				<h2>{{ formula.menuTitle }}</h2>
				{% if formula.formulaDayTitle %}
					<p>{{ formula.formulaDayTitle }}</p>
				{% endif %}
				{% if formula.formulaDayDescription %}
					<p>{{ formula.formulaDayDescription }}</p>
				{% endif %}
				{% if formula.formulaDayPrice %}
					<p>{{ formula.formulaDayPrice }}</p>
				{% endif %}

				{% if formula.formulaNightTitle %}
					<p>{{ formula.formulaNightTitle}}</p>
				{% endif %}
				{% if formula.formulaNightDescription %}
					<p>{{ formula.formulaNightDescription}}</p>
				{% endif %}
				{% if formula.formulaNightPrice %}
					<p>{{ formula.formulaNightPrice}}</p>
				{% endif %}
				{% if is_granted('ROLE_ADMIN') %}
					<a href="{{ path('delete-menu', {'id': formula.id}) }}" class="btn btn-danger">Supprimer</a>
					<a href="{{ path('edit-menu', {'id': formula.id}) }}" class="btn btn-warning">Modifier</a>
				{% endif %}
			</div>
		{% endfor %}
	</div>


	<div>
		<h2>Nos Entrées</h2>
		{% for menu in menus %}
			{% if menu.dishCategory == 'entrée' %}
				<div>
					<h3>{{ menu.dishTitle }}</h3>
					<p>{{ menu.dishDescription }}</p>
					<p>{{ menu.dishPrice }}</p>
					{% if is_granted('ROLE_ADMIN') %}
						<a href="{{ path('delete-carte', {'id': menu.id}) }}" class="btn btn-danger">Supprimer</a>
						<a href="{{ path('edit-carte', {'id': menu.id}) }}" class="btn btn-warning">Modifier</a>
					{% endif %}
				</div>
			{% endif %}
		{% endfor %}

		<h2 class="mt-5">Nos Plats</h2>
		{% for menu in menus %}
			{% if menu.dishCategory == 'plat' %}
				<div>
					<h3>{{ menu.dishTitle }}</h3>
					<p>{{ menu.dishDescription }}</p>
					<p>{{ menu.dishPrice }}</p>
					{% if is_granted('ROLE_ADMIN') %}
						<a href="{{ path('delete-carte', {'id': menu.id}) }}" class="btn btn-danger">Supprimer</a>
						<a href="{{ path('edit-carte', {'id': menu.id}) }}" class="btn btn-warning">Modifier</a>
					{% endif %}
				</div>
			{% endif %}
		{% endfor %}

		<h2 class="mt-5">Menu Enfant</h2>
		{% for menu in menus %}
			{% if menu.dishCategory == 'menu enfant' %}
				<div>
					<h3>{{ menu.dishTitle }}</h3>
					<p>{{ menu.dishDescription }}</p>
					<p>{{ menu.dishPrice }}</p>
					{% if is_granted('ROLE_ADMIN') %}
						<a href="{{ path('delete-carte', {'id': menu.id}) }}" class="btn btn-danger">Supprimer</a>
						<a href="{{ path('edit-carte', {'id': menu.id}) }}" class="btn btn-warning">Modifier</a>
					{% endif %}
				</div>
			{% endif %}
		{% endfor %}

		<h2 class="mt-5">Nos Desserts</h2>
		{% for menu in menus %}
			{% if menu.dishCategory == 'dessert' %}
				<div>
					<h3>{{ menu.dishTitle }}</h3>
					<p>{{ menu.dishDescription }}</p>
					<p>{{ menu.dishPrice }}</p>
					{% if is_granted('ROLE_ADMIN') %}
						<a href="{{ path('delete-carte', {'id': menu.id}) }}" class="btn btn-danger">Supprimer</a>
						<a href="{{ path('edit-carte', {'id': menu.id}) }}" class="btn btn-warning">Modifier</a>
					{% endif %}
				</div>
			{% endif %}
		{% endfor %}
	</div>

	<!--Footer Section-->

	<footer class="container-fluid footer mt-5">
		<div class="row">
			<div class="col-sm-3 mx-auto text-center footer-main-article">
				<h5 class="footer-main-title">Chef Arnaud Michant</h5>
			</div>
			<div class="col-sm-3 mx-auto text-center footer-main-article">
				<h5 class="footer-main-title">Le Quai Antique</h5>
			</div>
			<div class="col-sm-3 mx-auto text-center footer-hours">
				<h5 class="footer-title-hours">Nos Horaires d'ouverture</h5>
				<div class="row">
					<div class="col-6">
						<p>yo</p>
					</div>
					<div class="col-6">
						<p>yo</p><br>
						<p class="mt-0">yo</p>
					</div>
				</div>
			</div>
			<div class="col-sm-3 mx-auto text-center footer-article">
				<h5 class="footer-title">208, boulevard de la Savoie, 73000 Chambéry</h5>
			</div>
		</div>
	</footer>

{% endblock %}
