{% extends 'base.html.twig' %}

{% block title %}Carte | Le Quai Antique
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset("public/css/style.css")}}"/>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="d-flex justify-content-center flex-wrap title-formula-page mt-5">
		<h1 style="font-size:60px;">La Carte</h1>
	</div>

	<div class="container-fluid mt-5">
		<div class="row">
			{% for formula in formulas %}
				<div class="col-sm-6 text-center formula-menu">
					<h2 class="formula-menu-title">{{ formula.menuTitle }}</h2>
					{% if formula.formulaDayTitle %}
						<p class="formula-title">{{ formula.formulaDayTitle }}</p>
					{% endif %}
					{% if formula.formulaDayDescription %}
						<p>{{ formula.formulaDayDescription }}</p>
					{% endif %}
					{% if formula.formulaDayPrice %}
						<p>{{ formula.formulaDayPrice }}</p>
					{% endif %}

					{% if formula.formulaNightTitle %}
						<p class="formula-title">{{ formula.formulaNightTitle}}</p>
					{% endif %}
					{% if formula.formulaNightDescription %}
						<p>{{ formula.formulaNightDescription}}</p>
					{% endif %}
					{% if formula.formulaNightPrice %}
						<p>{{ formula.formulaNightPrice}}</p>
					{% endif %}
					{% if is_granted('ROLE_ADMIN') %}
						<a href="{{ path('delete-menu', {'id': formula.id}) }}" class="btn btn-danger">Supprimer</a>
						<a href="{{ path('edit-menu', {'id': formula.id}) }}" class="btn btn-warning">Modifier</a>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="d-flex flex-wrap justify-content-center mt-5">
		<h2 class="dish-main-title">Nos Entrées</h2>
	</div>
	{% for menu in menus %}
		{% if menu.dishCategory == 'entrée' %}
			<div class="row text-center">
				<h3 class="dish-title mt-5">{{ menu.dishTitle }}</h3>
				<p class="dish-description mt-3">{{ menu.dishDescription }}</p>
				<p class="dish-price">{{ menu.dishPrice }}</p>
				{% if is_granted('ROLE_ADMIN') %}
					<div class="d-flex flex-wrap justify-content-center mt-5">
						<a href="{{ path('delete-carte', {'id': menu.id}) }}" class="btn btn-danger" style="width:200px;">Supprimer</a>
					</div>
					<div class="d-flex flex-wrap justify-content-center mt-3">
						<a href="{{ path('edit-carte', {'id': menu.id}) }}" class="btn btn-warning mt-3" style="width:200px;">Modifier</a>
					</div>
				{% endif %}
			</div>
		{% endif %}
	{% endfor %}
	<div class="d-flex flex-wrap justify-content-center">
		<h2 class="dish-main-title mt-5">Nos Plats</h2>
	</div>
	{% for menu in menus %}
		{% if menu.dishCategory == 'plat' %}
			<div class="row text-center">
				<h3 class="dish-title mt-5">{{ menu.dishTitle }}</h3>
				<p class="dish-description mt-3">{{ menu.dishDescription }}</p>
				<p>{{ menu.dishPrice }}</p>
				{% if is_granted('ROLE_ADMIN') %}
					<div class="d-flex flex-wrap justify-content-center mt-5">
						<a href="{{ path('delete-carte', {'id': menu.id}) }}" class="btn btn-danger" style="width:200px;">Supprimer</a>
					</div>
					<div class="d-flex flex-wrap justify-content-center mt-3">
						<a href="{{ path('edit-carte', {'id': menu.id}) }}" class="btn btn-warning mt-3" style="width:200px;">Modifier</a>
					</div>
				{% endif %}
			</div>
		{% endif %}
	{% endfor %}

	<div class="d-flex flex-wrap justify-content-center">
		<h2 class="dish-main-title mt-5">Menu Enfant</h2>
	</div>
	{% for menu in menus %}
		{% if menu.dishCategory == 'menu enfant' %}
			<div class="row text-center">
				<h3 class="dish-title mt-5">{{ menu.dishTitle }}</h3>
				<p class="dish-description mt-3">{{ menu.dishDescription }}</p>
				<p>{{ menu.dishPrice }}</p>
				{% if is_granted('ROLE_ADMIN') %}
					<div class="d-flex flex-wrap justify-content-center mt-5">
						<a href="{{ path('delete-carte', {'id': menu.id}) }}" class="btn btn-danger" style="width:200px;">Supprimer</a>
					</div>
					<div class="d-flex flex-wrap justify-content-center mt-3">
						<a href="{{ path('edit-carte', {'id': menu.id}) }}" class="btn btn-warning mt-3" style="width:200px;">Modifier</a>
					</div>
				{% endif %}
			</div>
		{% endif %}
	{% endfor %}

	<div class="d-flex flex-wrap justify-content-center">
		<h2 class="dish-main-title mt-5">Nos Desserts</h2>
	</div>
	{% for menu in menus %}
		{% if menu.dishCategory == 'dessert' %}
			<div class="row text-center">
				<h3 class="dish-title mt-5">{{ menu.dishTitle }}</h3>
				<p class="dish-description mt-3">{{ menu.dishDescription }}</p>
				<p>{{ menu.dishPrice }}</p>
				{% if is_granted('ROLE_ADMIN') %}
					<div class="d-flex flex-wrap justify-content-center mt-5">
						<a href="{{ path('delete-carte', {'id': menu.id}) }}" class="btn btn-danger" style="width:200px;">Supprimer</a>
					</div>
					<div class="d-flex flex-wrap justify-content-center mt-3">
						<a href="{{ path('edit-carte', {'id': menu.id}) }}" class="btn btn-warning mt-3" style="width:200px;">Modifier</a>
					</div>
				{% endif %}
			</div>
		{% endif %}
	{% endfor %}

	<a class="d-flex justify-content-center flex-wrap mt-5" style="text-decoration: none;" href="/#bookinBtn">
		<button class="btn bookin-formula-page-btn" type="submit">Réservation</button>
	</a>
	<!--Footer Section-->

	<footer class="container-fluid footer mt-5" {% if is_granted('ROLE_ADMIN') %} style="height: auto;" {% endif %}>
		<div class="row">
			<div class="col-sm-3 mx-auto text-center footer-main-article">
				<h2 class="footer-main-title">Chef Arnaud Michant</h2>
			</div>
			<div class="col-sm-3 mx-auto text-center footer-main-article">
				<h2 class="footer-main-title">Le Quai Antique</h2>
			</div>
			<div class="col-sm-3 mx-auto text-center footer-hours">
				<h2 class="footer-title-hours mb-3">Nos Horaires d'ouverture</h2>
				<div class="row">
					{% for schedule in schedules %}
						<div class="col-6">
							<p>{{ schedule.date }}</p>
						</div>
						<div class="col-6">
							{% if schedule.openingHoursDay %}
								<p>{{ schedule.openingHoursDay }}</p>
							{% endif %}
							{% if schedule.openingHoursNight %}
								<p class="mt-0">{{ schedule.openingHoursNight }}</p>
							{% endif %}
							{% if is_granted('ROLE_ADMIN') %}
								<a href="{{ path('delete-schedule', {'id': schedule.id}) }}" class="btn btn-danger">Supprimer</a>
								<a href="{{ path('edit-schedule', {'id': schedule.id}) }}" class="btn btn-warning">Modifier</a>
							{% endif %}
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="col-sm-3 mx-auto text-center footer-article">
				<h2 class="footer-title">208, boulevard de la Savoie, 73000 Chambéry</h2>
			</div>
		</div>
	</footer>

{% endblock %}
