{% extends 'base.html.twig' %}

{% block title %}Carte | Le Quai Antique
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="produit.css">
{% endblock %}

{% block body %}
	<div>
		<h1></h1>
	</div>

	<div>
		<div>
			<h2>Menu 1</h2>
			<p></p>
			<p></p>
			<p></p>

			<p></p>
			<p></p>
			<p></p>
		</div>
	</div>


	<div>
		<h2>Nos Entrées</h2>
		{% for menu in menus %}
			{% if menu.dishCategory == 'entrée' %}
				<div>
					<h3>{{ menu.dishTitle }}</h3>
					<p>{{ menu.dishDescription }}</p>
					<p>{{ menu.dishPrice }}</p>
                    {% if is_granted('ROLE_ADMIN') %}
						<a href="{{ path('delete-carte', {'id': menu.id}) }}" class="btn btn-danger">Supprimer</a>
						<a href="{{ path('edit-carte', {'id': menu.id}) }}" class="btn btn-warning">Modifier</a>
						{# <a href="{{ path('copy-menu', {'id': menu.id}) }}" class="btn btn-info">Copier</a> #}
					{% endif %}
				</div>
			{% endif %}
		{% endfor %}
	</div>

{% endblock %}
