{% extends 'base.html.twig' %}

{% block title %}Carte | Le Quai Antique
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset("public/css/style.css")}}"/>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div>
		<h1></h1>
	</div>

	<div class="container-fluid mt-5">
		{% for formula in formulas %}
			<div class="row">
				<div class="col-sm-12 text-center">
					<h2 class="formula-menu-title">{{ formula.menuTitle }}</h2>
					{% if formula.formulaDayTitle %}
						<p class="formula-day-menu-title">{{ formula.formulaDayTitle }}</p>
					{% endif %}
					{% if formula.formulaDayDescription %}
						<p>{{ formula.formulaDayDescription }}</p>
					{% endif %}
					{% if formula.formulaDayPrice %}
						<p>{{ formula.formulaDayPrice }}</p>
					{% endif %}

					{% if formula.formulaNightTitle %}
						<p>{{ formula.formulaNightTitle}}</p>
					{% endif %}
					{% if formula.formulaNightDescription %}
						<p>{{ formula.formulaNightDescription}}</p>
					{% endif %}
					{% if formula.formulaNightPrice %}
						<p>{{ formula.formulaNightPrice}}</p>
					{% endif %}
					{% if is_granted('ROLE_ADMIN') %}
						<a href="{{ path('delete-menu', {'id': formula.id}) }}" class="btn btn-danger">Supprimer</a>
						<a href="{{ path('edit-menu', {'id': formula.id}) }}" class="btn btn-warning">Modifier</a>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>


	<div class="container-fluid">
		<h2>Nos Entrées</h2>
		{% for menu in menus %}
			{% if menu.dishCategory == 'entrée' %}
				<div>
					<h3>{{ menu.dishTitle }}</h3>
					<p>{{ menu.dishDescription }}</p>
					<p>{{ menu.dishPrice }}</p>
					{% if is_granted('ROLE_ADMIN') %}
						<a href="{{ path('delete-carte', {'id': menu.id}) }}" class="btn btn-danger">Supprimer</a>
						<a href="{{ path('edit-carte', {'id': menu.id}) }}" class="btn btn-warning">Modifier</a>
					{% endif %}
				</div>
			{% endif %}
		{% endfor %}

		<h2 class="mt-5">Nos Plats</h2>
		{% for menu in menus %}
			{% if menu.dishCategory == 'plat' %}
				<div>
					<h3>{{ menu.dishTitle }}</h3>
					<p>{{ menu.dishDescription }}</p>
					<p>{{ menu.dishPrice }}</p>
					{% if is_granted('ROLE_ADMIN') %}
						<a href="{{ path('delete-carte', {'id': menu.id}) }}" class="btn btn-danger">Supprimer</a>
						<a href="{{ path('edit-carte', {'id': menu.id}) }}" class="btn btn-warning">Modifier</a>
					{% endif %}
				</div>
			{% endif %}
		{% endfor %}

		<h2 class="mt-5">Menu Enfant</h2>
		{% for menu in menus %}
			{% if menu.dishCategory == 'menu enfant' %}
				<div>
					<h3>{{ menu.dishTitle }}</h3>
					<p>{{ menu.dishDescription }}</p>
					<p>{{ menu.dishPrice }}</p>
					{% if is_granted('ROLE_ADMIN') %}
						<a href="{{ path('delete-carte', {'id': menu.id}) }}" class="btn btn-danger">Supprimer</a>
						<a href="{{ path('edit-carte', {'id': menu.id}) }}" class="btn btn-warning">Modifier</a>
					{% endif %}
				</div>
			{% endif %}
		{% endfor %}

		<h2 class="mt-5">Nos Desserts</h2>
		{% for menu in menus %}
			{% if menu.dishCategory == 'dessert' %}
				<div>
					<h3>{{ menu.dishTitle }}</h3>
					<p>{{ menu.dishDescription }}</p>
					<p>{{ menu.dishPrice }}</p>
					{% if is_granted('ROLE_ADMIN') %}
						<a href="{{ path('delete-carte', {'id': menu.id}) }}" class="btn btn-danger">Supprimer</a>
						<a href="{{ path('edit-carte', {'id': menu.id}) }}" class="btn btn-warning">Modifier</a>
					{% endif %}
				</div>
			{% endif %}
		{% endfor %}
	</div>

	<!--Footer Section-->

	<footer class="container-fluid footer" {% if is_granted('ROLE_ADMIN') %} style="height: auto;" {% endif %}>
		<div class="row">
			<div class="col-sm-3 mx-auto text-center footer-main-article">
				<h2 class="footer-main-title">Chef Arnaud Michant</h2>
			</div>
			<div class="col-sm-3 mx-auto text-center footer-main-article">
				<h2 class="footer-main-title">Le Quai Antique</h2>
			</div>
			<div class="col-sm-3 mx-auto text-center footer-hours">
				<h2 class="footer-title-hours mb-3">Nos Horaires d'ouverture</h2>
				<div class="row">
					{% for schedule in schedules %}
						<div class="col-6">
							<p>{{ schedule.date }}</p>
						</div>
						<div class="col-6">
							{% if schedule.openingHoursDay %}
								<p>{{ schedule.openingHoursDay }}</p>
							{% endif %}
							{% if schedule.openingHoursNight %}
								<p class="mt-0">{{ schedule.openingHoursNight }}</p>
							{% endif %}
							{% if is_granted('ROLE_ADMIN') %}
								<a href="{{ path('delete-schedule', {'id': schedule.id}) }}" class="btn btn-danger">Supprimer</a>
								<a href="{{ path('edit-schedule', {'id': schedule.id}) }}" class="btn btn-warning">Modifier</a>
							{% endif %}
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="col-sm-3 mx-auto text-center footer-article">
				<h2 class="footer-title">208, boulevard de la Savoie, 73000 Chambéry</h2>
			</div>
		</div>
	</footer>

{% endblock %}
